.main-menu-bar {
  position: relative;
  top: 0; }

.drop-menu {
  position: relative;
  top: 0;
  color: red;
  padding: 5px;
  float: left; }
  .drop-menu .form-group {
    margin-bottom: 0px;
    width: 200px; }
